.car_log_page{
   
      .banner{
            margin-bottom: 20px;
      }
      .innerContent{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            align-items: center;
            gap: 20px;
      }
      .text_group{
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 15px;
            font-weight: 500;
            font-family: serif;
      }

}
