.offer_page{
      margin-top: 20px;
      margin-bottom: 20px;

      .innerContent{
            display: flex;
            flex-direction: column;
            gap:10px;
                        
      }

      .text_content{
                font-size: 40px;
                font-family: fangsong;
      }

      .offer_content{
            display: grid;
            grid-template-columns: repeat(5,1fr);
            gap:10px;
      }
}